absl-py==2.1.0
accelerate==1.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
aspect-based-sentiment-analysis==2.0.1
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==24.2.0
backcall==0.2.0
backports-datetime-fromisoformat==2.0.2
beautifulsoup4==4.11.1
bitarray==3.0.0
bleach==5.0.1
blinker==1.9.0
blis==0.7.11
blosc2==2.7.1
branca==0.6.0
cachetools==5.5.0
catalogue==2.0.10
catboost==1.1.1
category-encoders==2.6.2
cattrs==24.1.2
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==2.1.1
chat-downloader==0.2.8
click==8.1.7
cloudpathlib==0.19.0
cmdoccano==0.6.0
colorama==0.4.6
colorlog==6.8.2
comm==0.1.2
confection==0.1.5
contourpy==1.3.1
cramjam==2.6.2
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
db-dtypes==1.3.0
debugpy==1.6.6
decorator==5.1.1
deepdiff==8.4.2
defusedxml==0.7.1
distro==1.9.0
docstring_parser==0.16
easyocr==1.7.2
emoji==2.14.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
enum-tools==0.12.0
et-xmlfile==1.1.0
eva-decord==0.6.1
exceptiongroup==1.2.2
executing==1.2.0
fairseq==0.12.2
fake-useragent==0.1.11
fastjsonschema==2.16.1
fastparquet==2022.12.0
ffmpeg-python==0.2.0
filelock==3.16.1
Flask==3.1.0
flask-cors==5.0.1
flatbuffers==24.3.25
folium==0.14.0
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.19.2
google-api-python-client==2.167.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud==0.34.0
google-cloud-aiplatform==1.74.0
google-cloud-bigquery==3.26.0
google-cloud-bigtable==2.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.4
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gradio_client==1.8.0
graphviz==0.20.1
grpc-google-iam-v1==0.13.1
grpcio==1.67.0
grpcio-status==1.67.0
gurobipy==12.0.1
h11==0.13.0
h5py==3.11.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.29.1
hydra-core==1.0.7
idna==3.4
imageio==2.36.1
imbalanced-learn==0.13.0
iniconfig==2.0.0
install==1.3.5
interval==1.0.0
ipykernel==6.21.1
ipython==8.9.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
iso8601==2.1.0
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
Janome==0.4.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.4
jiter==0.9.0
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==3.8.0
kiwisolver==1.4.8
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.44.0
looker-sdk==24.20.0
lxml==4.9.1
m3u8==6.0.0
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
ml-dtypes==0.3.2
modules==1.0.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.4
murmurhash==1.0.10
mysql-connector-python==8.0.30
namex==0.0.8
nbclassic==0.5.1
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
ndindex==1.9.2
nest-asyncio==1.5.6
networkx==3.4.2
ninja==1.11.1.2
nltk==3.9.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.61.2
numexpr==2.10.2
numpy==1.26.4
omegaconf==2.0.6
openai==1.74.0
opencc-python-reimplemented==0.1.6
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.12.1
optuna==4.0.0
orderly-set==5.3.0
outcome==1.2.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.1.0
platformdirs==2.6.2
Platypus==1.0
plotly==5.11.0
pluggy==1.5.0
ply==3.11
polars==0.15.15
portalocker==3.1.1
preshed==3.0.9
progressbar2==4.5.0
prometheus-client==0.14.1
prompt-toolkit==3.0.36
propcache==0.2.0
proto-plus==1.24.0
protobuf==5.29.4
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycountry==24.6.1
pycparser==2.21
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydotplus==2.0.2
Pygments==2.14.0
pynndescent==0.5.13
pyparsing==3.2.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==8.3.3
python-bidi==0.6.3
python-dateutil==2.8.2
python-json-logger==2.0.4
python-utils==3.9.0
pytz==2025.1
PyYAML==6.0.2
pyzmq==25.0.0
qtconsole==5.3.2
QtPy==2.2.0
regex==2024.9.11
requests==2.28.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.1
rsa==4.9
sacrebleu==2.5.1
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.12.1
selenium==4.5.0
Send2Trash==1.8.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sklearn-compat==0.1.3
smart-open==7.0.4
sniffio==1.3.0
snownlp==0.12.3
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
srsly==2.4.8
stack-data==0.6.2
statsmodels==0.14.0
streamlink==7.0.0
sympy==1.13.1
tables==3.10.1
tabulate==0.9.0
tdh-tcd==2.5.4
tenacity==8.1.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.16.2
tensorflow-metal==1.2.0
termcolor==2.4.0
terminado==0.15.0
testfixtures==8.3.0
textblob==0.19.0
thinc==8.2.5
threadpoolctl==3.1.0
tifffile==2024.9.20
tinycss2==1.1.1
tokenizers==0.21.0
tomli==2.0.1
torch==2.6.0
torchaudio==2.6.0
torchdata==0.7.1
torchtext==0.17.0
torchvision==0.21.0
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.49.0
trio==0.27.0
trio-websocket==0.9.2
twitch-dl==2.9.2
twitchAPI==4.3.1
typer==0.12.5
typing_extensions==4.12.2
tzdata==2025.1
umap-learn==0.5.7
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.12
wasabi==1.1.3
wcwidth==0.2.6
weasel==0.4.1
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.3
wordcloud==1.8.2.2
wrapt==1.16.0
wsproto==1.2.0
xgboost==1.7.1
xlrd==2.0.1
xmltodict==0.13.0
yarl==1.17.1
